.bread ul {
  display: flex;
  list-style-type: none;
}

.bread li a {
  padding: 5px;
  text-decoration: none;
}

.bread li a::after {
  content: ">";
  margin-left: 10px;
  color: black;
}

.appropriateWeight td {
  color: red;
}

td.weight-diff.few-weight {
  color: #1E90FF;
}
td.weight-diff.much-weight {
  color: red;
}
