body {
  color: #fff;
  background-image: url("https://i.gyazo.com/6061fd678d09cf06494d9347305cf0cd.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
  background-color: rgb(106, 65, 73);
  height: 100vh;
}
